<div class="wrapper">

  <!-- header -->
  <div class="header">
    <div class="live-clock" (click)="toggleFastMode()">
      {{ currentTime | date:'shortTime' }}
    </div>

    <button class="fast-clock-btn" (click)="toggleFastMode()">
      <span class="material-icons">access_time</span>
    </button>
  </div>

  <!-- reminder -->
  <div class="reminder-list">
    <div
      class="reminder-item"
      *ngFor="let r of reminders"
      [class.strike]="r.expired"
    >
      <span>{{ r.text }}</span>
      <span>{{ r.time }}</span>
    </div>
  </div>

  <!-- input -->
  <div class="input-row">
    <input
      type="text"
      [(ngModel)]="reminderText"
      placeholder="Enter reminder"
    />

    <input
      type="time"
      [(ngModel)]="reminderTime"
      class="green-clock"
    />
  </div>

  <!-- Button -->
  <button class="add-btn" (click)="addReminder()">
    Add Reminder
  </button>

</div>
